<!doctype html>
<title>Miami</title>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<div class="innerBox">
<h2>Miami</h2> 		
<div class="contentText"><p>
	Miami is a seaport city at the southeastern corner of the U.S. state of Florida and its Atlantic coast. As the seat of Miami-Dade County, the municipality is the principal, central, and most populous of its metropolitan area and part of the second-most populous metropolis in the southeastern United States. According to the U.S. Census Bureau, Miami's metro area is the eighth-most populous and fourth-largest urban area in the U.S., with a population of around 5.5 million.
</p>
<img src="{{ url_for('static', filename='images/miami1.jpg') }}" alt="Miami" style="width:620px;height:350px;">
<p>
	Miami is a major center, and a leader in finance, commerce, culture, media, entertainment, the arts, and international trade. In 2012, Miami was classified as an Alpha−World City in the World Cities Study Group's inventory. In 2010, Miami ranked seventh in the United States in terms of finance, commerce, culture, entertainment, fashion, education, and other sectors. It ranked 33rd among global cities.
</p>
<img src="{{ url_for('static', filename='images/miami2.jpg') }}" alt="Miami2" style="width:620px;height:350px;">
</div> 
</div> 