<!doctype html>
<head>
<title>Nashville</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<div class="innerBox">
<h1>Nashville</h1> 		
<div class="contentText"><p>
	Nashville is the capital of the U.S. state of Tennessee and the county seat of Davidson County. It is located on the Cumberland River in the north central part of the state. The city is a center for the music, healthcare, publishing, banking and transportation industries, and home to numerous colleges and universities. Reflecting the city's position in state government, Nashville is home to the Tennessee Supreme Court's courthouse for Middle Tennessee. It is known as a center of the country music industry, earning it the nickname "Music City U.S.A."
</p>
<img src="{{ url_for('static', filename='images/nashville1.jpg') }}" alt="Nashville" style="width:620px;height:350px;">
<p>
	Since 1963, Nashville has had a consolidated city-county government which includes six smaller municipalities in a two-tier system. Nashville is governed by a mayor, vice-mayor, and 40-member Metropolitan Council. Thirty-five of the members are elected from single-member districts; five are elected at-large. According to 2015 estimates from the U.S. Census Bureau, the total consolidated city-county population stood at 678,889. The "balance" population, which excludes semi-independent municipalities within Nashville, was 654,610. The 2015 population of the entire 13-county Nashville metropolitan area was 1,830,345, making it the largest metropolitan statistical area in the state. The 2015 population of the Nashville-Davidson–Murfreesboro–Columbia combined statistical area, a larger trade area, was 1,951,644.
</p>
<img src="{{ url_for('static', filename='images/nashville2.jpg') }}" alt="Nashville2" style="width:620px;height:350px;">
</div> 
</div> 