<!doctype html>
<head>
<title>New Orleans</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<div class="innerBox">
<h1>New Orleans</h1> 		
<div class="contentText"><p>
	New Orleans  is a major United States port and the largest city and metropolitan area in the state of Louisiana. The population of the city was 343,829 as of the 2010 U.S. Census. The New Orleans metropolitan area (New Orleans–Metairie–Kenner Metropolitan Statistical Area) had a population of 1,167,764 in 2010 and was the 46th largest in the United States. The New Orleans–Metairie–Bogalusa Combined Statistical Area, a larger trading area, had a 2010 population of 1,452,502.
</p>
<img src="{{ url_for('static', filename='images/nola1.jpg') }}" alt="New Orleans" style="width:620px;height:350px;">
<p>
	The city is named after the Duke of Orleans, who reigned as Regent for Louis XV from 1715 to 1723, as it was established by French colonists and strongly influenced by their European culture. It is well known for its distinct French and Spanish Creole architecture, as well as its cross-cultural and multilingual heritage. New Orleans is also famous for its cuisine, music (particularly as the birthplace of jazz), and its annual celebrations and festivals, most notably Mardi Gras, dating to French colonial times. The city is often referred to as the "most unique" in the United States.
</p>
<img src="{{ url_for('static', filename='images/nola2.jpg') }}" alt="New Orleans2" style="width:620px;height:350px;">
</div> 
</div> 