<!doctype html>
<head>
<title>St Louis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<div class="innerBox">
<h1>St Louis</h1> 		
<div class="contentText"><p>
	St. Louis is an independent city in the U.S. state of Missouri, built along the western bank of the Mississippi River, on the border with Illinois. The city has an estimated 2015 population of 315,685, and is the cultural and economic center of the Greater St. Louis area, which is home to 2,916,447 people, and is the largest metropolitan area in Missouri and the 19th-largest in the United States.
</p>
<img src="{{ url_for('static', filename='images/stlouis1.jpg') }}" alt="St Louis" style="width:620px;height:350px;">
<p>
	Prior to European settlement, the area was a major regional center of Native American Mississippian culture. The city of St. Louis was founded in 1764 by French fur traders Pierre Laclède and Auguste Chouteau, and named after Louis IX of France. The area was ceded to Spain following France's defeat in the Seven Years' War (the area east of the Mississippi was ceded to Britain). In 1800, Spanish Louisiana was retroceded back to France. In 1803, the United States acquired the territory as part of the Louisiana Purchase.
</p>
<img src="{{ url_for('static', filename='images/stlouis2.jpg') }}" alt="St Louis2" style="width:620px;height:350px;">
</div> 
</div> 